<div>
<h1>Edit Collection</h1>
User: <%= @current_user.username %>
<%= form_for @collection do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
    <br/>
    <%= f.fields_for :items do |builder| %>
        <%= render 'item_form', f:builder%>
        <br/>
    <% end%>
<%= f.submit %>
<% end %></div>