<div>
<% if flash[:error] %>
<p> <h3><%= flash[:error] %></h3> </p>
<% end %>
<h1><%= @collection.name %></h1>
<p><a href="/users/<%= @collection.user.id%>"><%= @collection.user.name_first %> <%= @collection.user.name_last %></a></p>
<h3>Items</h3>
<div id='content'><% @collection.items.each do |item| %>
<%= link_to image_tag(item.picture) + "#{item.name}", item_path(item) %><div id='content'></div>
<% end %>
<%= button_to "Edit Collection", {:action => "edit"}, :method => "get" %>
<%= button_to "Delete Collection", collection_path(@collection), method: :delete , data: { confirm: "Are you sure? It will be gone forever!"} %>
</div>
