<%= image_tag(@exhibit.picture)%>
    <nav class="exhibit">
    <h1><%= @exhibit.name %></h1>
    </nav>
<h3>My Museum</h3>
<%= link_to @exhibit.museum.name, @exhibit.museum %>
<br/>
<h3>Items in Exhibit</h3>
<% @exhibit.items.each do |item| %>
<ul>
<li><%= link_to item.name, item_path(item) %></li>
</ul>
<% end %>
<br/>
<%= button_to "Edit Exhibit", {:action => "edit"}, :method => "get" %>
<%= button_to "Delete Exhibit", exhibit_path(@exhibit), method: :delete , data: { confirm: "Are you sure? It will be gone forever!"} %>