<% if flash[:error] %>
<p> <h3><%= flash[:error] %></h3> </p>
<% end %>
<%= image_tag(@exhibit.picture)%>
    <nav class="exhibit">
    <h1><%= @exhibit.name %></h1>
        <p><%= @exhibit.date %></p>
    </nav>
    <h3>My Museum</h3>
        <h4><%= link_to @exhibit.museum.name, @exhibit.museum %></h4>
        <br/>
            <h3>Items in Exhibit</h3>
            <p>Exhibit Size: <%= @exhibit.items.length %></p>
                <% @exhibit.items.each do |item| %>
                    <ul>
                        <%= link_to image_tag(item.picture), item_path(item) %>
                        <li><%= link_to item.name, item_path(item) %></li>
                    </ul>
                <% end %>
        <br/>
<%= button_to "Edit Exhibit", {:action => "edit"}, :method => "get" %>
<%= button_to "Delete Exhibit", exhibit_path(@exhibit), method: :delete , data: { confirm: "Are you sure? It will be gone forever!"} %>