<nav class="bgimg display-container">
<h1>Virtuseum</h1>
</nav>
    <br/>
    <nav class="navigation">
        <div class="button"><%= button_to "Current User / Index Page", {action: "index", controller: "users"}, :method => "get"%></div>
        <div class="button"><%= button_to "New User", {action: "new", controller: "users"}, :method => "get"%></div>
        <div class="button"><%= button_to "Items", {action: "index", controller: "items"}, :method => "get" %></div>
        <div class="button"><%= button_to "Collection", {action: "index", controller: "collections"}, :method => "get"%></div>
        <div class="button"><%= button_to "Museums", {action: "index", controller: "museums"}, :method => "get"%></div>
        <div class="button"><%= button_to "Exhibits", {action: "index", controller: "exhibits"}, :method => "get"%></div>
    </nav>
    <nav class="body">
    <p>ABOUT US WILL BE WRITTEN HERE</p>
    </nav>