<% if flash[:error] %>
<p> <h3><%= flash[:error] %></h3> </p>
<% end %>
<%= image_tag(@item.picture) %>
<h5><%= @item.name %></h5>
<h5><%= @item.date_ad_bc %></h5>
<h5><%= @item.classification %></h5>
<p><%= @item.description %></p>
<%= button_to "Edit Item", {action: "edit"}, :method => "get"%>
<%= button_to "Delete Item", item_path(@item), :method => "delete", data: { confirm: "Are you sure? It will be gone forever!" } %>