<h1><%= @museum.name %></h1>
    <h3> Museum of: <%= @museum.field_of_study %> </h3>
    <% @museum.users.each do |user| %>
        <p>Curator: <%= user.name_first %>  <%= user.name_first %></p>
    <% end %>
    <h3>Information</h3>
        <p><%= @museum.information %></p>
        <h3>Our Exhibits</h3>
            <% @museum.exhibits.each do |exhibit| %>
                <ul>
                <%= link_to image_tag(exhibit.picture), exhibit_path(exhibit) %>
                    <li><%= link_to exhibit.name, exhibit_path(exhibit) %></li>
                </ul>
                <% end %>
                <br/>
            <%= button_to "Edit Museum", {:action => "edit"}, :method => "get" %>
            <%= button_to "Delete Museum", @museum, method: :delete , data: { confirm: "Are you sure? It will be gone forever!"} %>