<!DOCTYPE html>
<html>
  <head>
    <title>Virtuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Virtuseum</h1>
    <br/>
        <ul>
            <% if @current_user %>
              <li><a href="/users/<%= @current_user.id %>">Welcome <%= @current_user.name_first %></a></li>
              <li><%= link_to "Log-out", logout_path, method: :delete %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Items", items_path %></li>
              <li><%= link_to "Collection", collections_path %></li>
                <ul>
                <li></li>
                </ul>
              <li><%= link_to "Museums", museums_path %></li>
                <ul>
                  <li>Type of Museum</li>
                    <ul>
                      <% Museum.museum_field_of_study.each do |field| %>
                      <li><%= field %></li>
                      <% end %>
                    </ul>
                </ul>
              <li><%= link_to "Exhibits", exhibits_path %></li>
                <ul>
                  <% Exhibit.find_name.each do |name| %>
                  <li><%= name %></li>
                  <% end %>
                </ul>
              <li><%= link_to "Become A Curator", new_curator_path %></li>
            <% else %>
              <li class='right'><%= link_to 'Sign-up', new_user_path %></li>
              <li class='right'><%= link_to 'Login', new_session_path %></li>
            <% end %>
        </ul>
    <%= yield %>
  </body>
</html>
